.footer {
    background: url('@/assets/images/footer.png') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 50px 20px;
    text-align: center;
    background-color: #474747;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-description {
    font-size: 16px;
    line-height: 1.6;
  }