.footer-finally {
  background-size: cover;
  color: black;
  padding: 50px 20px;
  text-align: center;
  background-color: white;
}

.footer-finally-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-finally-description {
  font-size: 9px;
  line-height: 1.6;
}

